/* ------- blacklight ------- */

html { background-color: #f6f2e6; }

body {
  background: #f6f2e6 url('/images/bgTopBar_1x48.png') repeat-x;
  line-height: 1;
  padding-top: 58px;
  font-family: "lucida grande",tahoma,Arial,Helvetica,sans-serif;
}

#logo {
  position: absolute;
  background: transparent url('/images/sulair.png') no-repeat;
  top: 5px;
  left: 15px;
  height: 32px;
  width: 140px;
}

#hd {border-bottom: 0px dotted #ccc;}

#documents { background-color: #fff; }
a:link, a:visited, a:active {border-bottom: 0px dotted #aaa; color: #2e4f81; }
#sortAndPerPage { background-color: #fff;}

.yui-t2 {  	
  background-image: none; 
  width: 1024px;
  background-color: #fff;
  border: 1px solid #cdccc8;
  margin: 0px auto;  
}

.yui-t2 #yui-main .yui-b { 
  border-left-width: 0;
}

table#searchResults {
  margin: 5px 0;
  border: 1px solid #aaa;
  width: 100%;	  
}

table#searchResults td {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

table#searchResults tr#searchResultsHeader {
  background-color: #aaa;
}

table#searchResults tr.searchResultsRow1 {
  background-color: #ebebeb;
}

table#searchResults tr.searchResultsRow2 {
  background-color: #fafafa;
}

.searchResultsDropDown { width: 15px; }
.searchResultsTitle { width: 200px; }