body, html, textarea {
  padding: 0;
  margin: 0;  
  background-color: #f6f2e6;
  font-family: "lucida grande",tahoma,Arial,Helvetica,sans-serif;
  font-size: 11px;
  line-height: 1.6;    
}

input, textarea, select, form, dl, dt, dd, textarea {
  font-family: "lucida grande",tahoma,Arial,Helvetica,sans-serif;
  font-size: 11px;
  line-height: 1.6;    
}

#eems-new-form-widget textarea {
  border: 1px solid #999;
  background-color: #fff;
}

#eems-new-form-widget {
  border: 0px solid #ccc;
  height: 425px;
  width: 425px;
  padding: 10px;
}

#eems-new-form-widget dl {

}

#eems-new-form-widget dt, #eems-new-form-widget dd {
  float: left;
}

#eems-new-form-widget dt {
  clear: left;
  padding: 4px 8px 4px 0;
  width: 110px;
  text-align: right;
  color: #555; 
}

#eems-new-form-widget dd {
  margin: 0;
  padding: 4px 0;
}

#submit-buttons {
  clear: both;
  padding: 30px 10px 5px 0;
  text-align: right;
}

#eems-upload-progress {
  width: 350px;
  padding: 60px 0 0 90px;
}

#eems-details-link {
  width: 350px;
  padding: 60px 0 0 90px;	
}

