
<% # container for all documents in index view -%>
<div id="documents">

<table id="searchResults">
  <tr id="searchResultsHeader">
    <td class="searchResultsDropDown"></td>  
    <td class="searchResultsTitle">Title</td>  

    <% index_field_names.each do |solr_fname| -%>
      <td><%= h index_field_labels[solr_fname]%></td>
    <% end -%>      
  </tr>
    
  <% # loop thru each doc -%>
  <% @document_list.each_with_index do |document, counter| %>
    <% rowBackgroundColor = (counter % 2) == 1 ? "searchResultsRow1" : "searchResultsRow2" %>
    <tr class="<%= rowBackgroundColor %>">                
      <td></td>  
      <td class="index_title"><%= link_to_document document, :label=>document_show_link_field %></td>
      
      <% # main container for doc partial view -%>
      <%= render_document_partial document, :index %>
    </tr>
  <% end %>
</table>

</div>
