<!-- This will render the form needed to create an Eem 
     Manually create the params sent to controller on submit?-->
<h1>New Eem</h1>

<% form_tag(:action => :create) do %>
  <p>
    Content Url<br />
    <%= text_field_tag 'contentUrl' %>
  </p>
  <p>
    Note<br />
    <%= text_field_tag 'eem[note]' %>
  </p>
  <p>
    Payment Status<br />
    <%= text_field_tag 'eem[paymentStatus]' %>
  </p>
  <p>
    <%= submit_tag 'Create EEM' %>
  </p>
<% end %>
